<div class="container">
    <h1>Bienvenidos a MasaMaestra</h1>
    <p>En Masa Maestra nos especializamos en la creación de pizzas y empanadas con auténtica masa madre. Ubicados en la pintoresca ciudad de Tres Arroyos, somos una empresa joven fundada por tres amigos con una pasión compartida por la gastronomía y la tradición de la masa madre.</p>

    <p>Durante la temporada de verano, extendemos nuestra pasión a Balneario Claromecó, donde operamos un local temporal para satisfacer a nuestros clientes en la costa.</p>
    
    <p>En Masa Maestra, cada producto es el resultado de nuestra dedicación a la calidad y al sabor auténtico, ofreciendo una experiencia culinaria única que refleja nuestro compromiso con la excelencia y la innovación en cada bocado.</p>
</div>
